<template>
    <ul class="flex mt-4">
        <li class="w-3/12">
            <app-action-replay />
        </li>
        <li class="w-3/12">
            <app-action-retweet />
        </li>
        <li class="w-3/12">
            <app-action-like
                :tweet="tweet"
            />
        </li>
    </ul>
</template>

<script>
    export default {
        props: {
            tweet: {
                required: true,
                type: Object
            }
        }
    }
</script>
