<template>
    <div>
        <span class="text-gray-300 font-bold">{{ author.name }}</span>
        <span class="text-gray-600">@{{ author.username}}</span>
    </div>
</template>

<script>
    export default {
        props: {
            author: {
                required: true,
                type: Object
            }
        }
    }
</script>
