<template>
    <div class="flex w-full">
        <div class="mr-3">
            <img :src="tweet.user.avatar" class="w-12 rounded-full" />
        </div>
        <div class="flex-grow">
            <app-tweet-author
                :author="tweet.user"
            />
            <p class="text-gray-500 whitespace-pre-wrap">{{ tweet.body }}</p>

            <app-tweet
                class="border border-gray-700 mt-4 rounded-lg"
                :tweet="tweet.original_tweet"
            />

            <app-action-group
                :tweet="tweet"
            />
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            tweet: {
                required: true,
                type: Object
            }
        }
    }
</script>
